body {
  font-family: 'Oswald', sans-serif;
}

/* h1, h2, .bebas-text {
  font-family: 'Bebas Neue', cursive;
} */

html{
  margin: 0;
  padding: 0;
}

.joinbtn:hover .joinSvg{
  fill: ##8B5CF6 !important;
}